<!DOCTYPE html>
<html lang="ko">
<head>
<link href="main.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/script.js"></script>
<style>
body{
    font-weight:bold;
}
</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>


</head>
<script>

  function callGetService()
  {
  console.log("page3 ajax 들어오니?");
    $.ajax({
      type: "GET",
      url: "/page3?userId=<%=userInfo.userInfo.userId%>",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      cache: false,
      success: function (data, status, xhr) {
      var sr = "";
      
      data.postData.dataAnalProdCod.forEach(function(element){
    	sr+= "<img src='img/" + element + ".png' class = 'productImage'>"
    	});
      $("#recProduct1").html(sr);
      $("#prodCode").val(data.postData.dataAnalProdCod[0]);
//      $("#recProduct1").html("<img src='img/" + data.postData.dataAnalProdCod[1] + ".png' class = 'productImage'><img src='img/" + data.postData.dataAnalProdCod[2] + ".png' class = 'productImage'>");

      },
      error: function (msg) {
        alert("실패했엉");
      }
    });
  }
 /*
   * GET 
   */
   
 /*
  function callGetService2()
  {	
  console.log("첫번째 상품 코드:"+pro1);
  console.log("유저id:"+userId)
  console.log("page 4 이동 button 실행되니??");
      $.ajax({
      type: "GET",
      url: "/page4?userId="+userId+"&prodCode="+pro1,
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      cache: false,
      success: function (data, status, xhr) {
            alert("page4 성공");
          //          $('#txtRes').val(data.resText);
      },
      error: function (msg) {
        alert("page4 전환 실패했엉");
      }
    });
  }
  */
  
function goBack(){
	window.history.go(-2);
}

$(document).ready(callGetService())

function goBack(){
	window.history.go(-2);
}

</script>

</head>
<body>
    <div id = "webView">



        <!-- 상단 메뉴바 뒤로가기 버튼 상품페이지 및 전체항목 버튼 -->

        <div id="menubar">
            <span>개인화 상품추천</span><button class="btn" style="float:right;" onClick="goBack()">X</button>
        </div>



        <!-- 개인화상품추천 페이지 상품 이미지 3개. -->

        <div id="menu1">
            <div id="menuTitle" style="height:60px"><span style="font-size: medium;"><h2><%=userInfo.userInfo.userName %>님 이 상품은 어떠세요?</h2></p></div>
            <div id="recProduct1">
            </div>
        </div> 
        <div style="height:80px;"></div>
        <form class="" id="reqForm2" method="POST" action="/page4">
        <input type="hidden" id="userId" name="userId" value="<%=userInfo.userInfo.userId%>"/> 
        <input type="hidden" id="prodCode" name="prodCode" value=""/> 
        <input type="submit" value="상품추천 결과 데이터 보기" onclick="document.forms[0].submit();" class= "longButton" style="font-size: 16px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(22, 160, 133);"/>
        </form>
    </div>

</body>
</html>