<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="js/script.js"></script>
</head>


<script type="text/javascript" src="mainjava.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>

<script>

var transpaymentVal = "<%= postData.userInfo.wageTransfer %>";
var transphonepayVal = "<%= postData.userInfo.telPymntDirDbt %>";
var transapartpayVal = "<%= postData.userInfo.aptExpenDirDbt %>";
var transtranyearVal = "<%= postData.userInfo.overThreeYearTrans %>";
var transmarketagreeVal = "<%= postData.userInfo.marketingAgree %>";
var transcardpayVal = "<%= postData.userInfo.usingHanacard %>";

function initColor(id,value,setvalue) {
	// 서버 호출

	if (value == "Y"){
		document.getElementById(id).style.backgroundColor = 'rgb(22, 160, 133)';
		document.getElementById(id).style.color = 'white';
		document.getElementById(setvalue).value = value;
	}
	else {
		document.getElementById(id).style.backgroundColor = 'rgba(211, 198, 198, 0.725)';
		document.getElementById(id).style.color = 'black';
		document.getElementById(setvalue).value = 'N';	
	}	


}

$( function() {



console.log('!!!!!!!!!!!!!!!!!!!!');
console.log("<%= postData.userInfo.userId %>");
console.log('*******************');



	initColor('wageTransfer',transpaymentVal, 'transpayment');
	initColor('telPymntDirDbt',transphonepayVal, 'transphonepay');
	initColor('aptExpenDirDbt',transapartpayVal, 'transapartpay');
	initColor('overThreeYearTrans',transtranyearVal, 'transtranyear');
	initColor('marketingAgree',transmarketagreeVal, 'transmarketagree');
	initColor('usingHanacard',transcardpayVal, 'transcardpay');
});


function goBack(){
	window.history.back();
}

</script>

    
<body>
	<div id = "webView">
        <div id="menubar" style="font-weight:bold;">
            <button class="btn" style="float:left;" onClick="goBack()"><</button>맞춤상품
        </div>


        <!-- 기간 항목으로 4가지중 한 항목만 색상변경 가능 -->

        <div id = 'page2Second'>손님에게 딱~ 맞는 상품을 추천해 드릴게요</div>

        <!-- form 시작 부분 데이터 연결?? -->

        <form method="POST" id="reqForm2" action="/springPost">



            <!-- 자금목적 항목으로 radio 버튼 사용함 -->

            <div id="moneyPurpose">
                <p>▶ 모은 자금은 어디에 쓰실 건가요?</p>
                <input type="radio" name="moneyPurpose" value="01" /> <label for="">목돈만들기</label> <br>
                <input type="radio" name="moneyPurpose" value="02" /> <label for="">저축습관 만들기</label> <br>
                <input type="radio" name="moneyPurpose" value="03" /> <label for=""></label>여행하기</label> <br>
                <input type="radio" name="moneyPurpose" value="04" /> <label for=""><t></label>취미생활</label> <br>
            </div>



            <!-- 기간 항목으로 4가지중 한 항목만 색상변경 가능 함수 setColor 사용 -->

            <div id="duration" class = "selector">
                <p style="margin-top:20px">▶ 기간은요?</p>
                    <input id='6month' onclick="setColor('6month','01');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="period" value="6개월" />
                    <input id='1year' onclick="setColor('1year', '02');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="period" value="12개월 이하" />
                    <input id='2year' onclick="setColor('2year', '03');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="period" value="24개월 이하" />
                    <input id= '3year' onclick="setColor('3year','04');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="period"  value="36개월 이하" />
            </div>



            <!-- 월 납입금액 항목으로 4가지중 한 항목만 색상변경 가능 함수 setColor2 사용 -->

            <div id="mthlyPymntAmnt" class = "selector">
                <p style="margin-top:20px">▶ 월 납입금액은요?</p>
                    <input id='20man' onclick="setColor2('20man','01');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="mthlyPymntAmnt" value="20만원 이하" />
                    <input id='50man' onclick="setColor2('50man','02');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="mthlyPymntAmnt" value="50만원 이하" />
                    <input id='100man' onclick="setColor2('100man','03'); " style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="mthlyPymntAmnt" value="100만원 이하" />
                    <input id='100manover' onclick="setColor2('100manover','04');" style="background-color: rgba(211, 198, 198, 0.725);" type="button" name="mthlyPymntAmnt" value="100만원 초과" />
            </div>



            <!-- 추가부수거래 항목으로 6가지 input 다중 색상 변경 가능 -->
            
            <div id="addTran" class = "selector">
                <div style="margin-top:40px"><p style = "float:left">▶ <%= postData.userInfo.userName %>님 KEB하나은행에서 
                추가로 어떤 거래를 하실 수 있나요?<br>
                <span style="font-weight:bolder">이미 하고 있는 거래는 진하게 표시됩니다<br>
                (복수선택가능)</span>
                </p></div>
                    <div style="margin-left:3%" class="lastbutton">
                        <input id = 'wageTransfer' onclick="setColor3('wageTransfer','Y','transpayment')"  type="button" name="addTran" value="급여이체">
                        <input id = 'telPymntDirDbt'onclick="setColor3('telPymntDirDbt','Y','transphonepay')"  type="button" name="addTran" value="통신비 자동이체">
                        <input id = 'aptExpenDirDbt' onclick="setColor3('aptExpenDirDbt','Y','transapartpay')"  type="button" name="addTran" value="관리비 자동이체" /><br><br>
                        <input id = 'overThreeYearTrans' onclick="setColor3('overThreeYearTrans','Y','transtranyear')"  type="button" name="addTran" value="거래 3년 이상" />
                        <input id = 'marketingAgree' onclick="setColor3('marketingAgree','Y','transmarketagree')"  type="button" name="addTran" value="마케팅 동의" />
                        <input id = 'usingHanacard' onclick="setColor3('usingHanacard','Y','transcardpay')"  type="button" name="addTran" value="하나카드 사용" />
                    </div>
            </div>


            <!-- 2page 추천받기 버튼으로 3page로 연결 -->

            <input type="submit" value="추천받기" class= "longButton" style="font-size: 16px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(22, 160, 133);" onClick="document.forms[0].submit();"
             ></input>
             <input type="hidden" id="userid" name="userid" value="<%= postData.userInfo.userId %>"/> 
             <input id= "transduration" name="period" class= 'invisi' type="hidden">
             <input id= 'transmonthpayment' name="mthlyPymntAmnt" class= 'invisi' type="hidden">
             <input id= 'transpayment' name="wageTransfer" class= 'invisi' type="hidden" value="N">
             <input id= 'transphonepay' name="telPymntDirDbt" class= 'invisi' type="hidden" value="N">
             <input id= 'transapartpay' name="aptExpenDirDbt" class= 'invisi' type="hidden" value="N">
             <input id= 'transtranyear' name="overThreeYearTrans" class= 'invisi' type="hidden" value="N">
             <input id= 'transmarketagree' name="marketingAgree" class= 'invisi' type="hidden" value="N">
             <input id= 'transcardpay' name="usingHanacard" class= 'invisi' type="hidden" value="N">
        </form>
    </div>
</body>
</html>

