<!DOCTYPE html>
<html lang="ko">
<head>
<link href="main.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
<script  src="chart.js"></script>


<meta charset="utf-8">
<style>
body{
    font-weight:bold;
}
</style>
</head>
<body>
<h1><%=postData.prodGroupByGender[0].cnt%></h1>
<h1><%=postData.prodGroupByGender[1].cnt%></h1>
    <div id = "webView" style="width:500px;">
        <div id="menubar" style="width:500px;">
            <button onClick="location.href='page3.html'" class="btn" style="float:left;"><</button><span>상품추천 데이터</span><button class="btn" style="float:right;" onClick="location.href='page1.html'">X</button>
        </div>

        <!-- 상단 메뉴바 뒤로가기 버튼 상품페이지 및 전체항목 버튼 -->

        <div id="chartContainer" class="chartCont" style="margin-top:40px;"></div>
      
        <div id="chartContainer1" class="chartCont"></div>
        
        <div id="chartContainer2" class="chartCont"></div>

        <div id="chartContainer3" class="chartCont"></div>

        <div id="chartContainer4" class="chartCont"></div>

        <div id="chartContainer5" class="chartCont"></div>

    </div>        

</body>
</html>