<!DOCTYPE html>
<html lang="ko">
<head>
<link href="main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=0.72">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
<script>
window.onload = function() {

	var chart = new CanvasJS.Chart("chartContainer", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "성별"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				
				
				{ y: "<%=postData.prodGroupByGender[0].cnt%>", label: "남자" },
				{ y: "<%=postData.prodGroupByGender[1].cnt%>", label: "여자" }
			]
		}]
	});
	var chart1 = new CanvasJS.Chart("chartContainer1", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "나이"
		},
		data: [{
			type: "pie",
			startAngle: 75,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				{ y: "<%=postData.prodGroupByAgeBand[0].cnt%>", label: "20대" },
				{ y: "<%=postData.prodGroupByAgeBand[1].cnt%>", label: "30대" },
				{ y: "<%=postData.prodGroupByAgeBand[2].cnt%>", label: "40대" },
				{ y: "<%=postData.prodGroupByAgeBand[3].cnt%>", label: "50대 이상" }			]
		}]
	});
	
	var chart2 = new CanvasJS.Chart("chartContainer2", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "연봉별 분류"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				{ y: "<%=postData.prodGroupByAnnual[0].cnt%>", label: "1천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[1].cnt%>", label: "2천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[2].cnt%>", label: "3천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[3].cnt%>", label: "4천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[4].cnt%>", label: "5천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[5].cnt%>", label: "6천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[6].cnt%>", label: "7천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[7].cnt%>", label: "8천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[8].cnt%>", label: "9천만원 이상" },
				{ y: "<%=postData.prodGroupByAnnual[9].cnt%>", label: "1억 이상" }	]
		}]
	});

	var chart3 = new CanvasJS.Chart("chartContainer3", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "신용등급별 분류"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				{ y: "<%=postData.prodGroupByCredLVL[0].cnt%>", label: "1등급" },
				{ y: "<%=postData.prodGroupByCredLVL[1].cnt%>", label: "2등급" },
				{ y: "<%=postData.prodGroupByCredLVL[2].cnt%>", label: "3등급" },
				{ y: "<%=postData.prodGroupByCredLVL[3].cnt%>", label: "4등급" },
				{ y: "<%=postData.prodGroupByCredLVL[4].cnt%>", label: "5등급" },
				{ y: "<%=postData.prodGroupByCredLVL[5].cnt%>", label: "6등급" }]
		}]
	});

	var chart4 = new CanvasJS.Chart("chartContainer4", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "펀드계좌수"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				{ y: "<%=postData.prodGroupByFundCnt[0].cnt%>", label: "0좌" },
				{ y: "<%=postData.prodGroupByFundCnt[1].cnt%>", label: "1좌" },
				{ y: "<%=postData.prodGroupByFundCnt[2].cnt%>", label: "2좌" },
				{ y: "<%=postData.prodGroupByFundCnt[3].cnt%>", label: "3좌" },
				{ y: "<%=postData.prodGroupByFundCnt[4].cnt%>", label: "4좌" },
				{ y: "<%=postData.prodGroupByFundCnt[5].cnt%>", label: "5좌" }		]
		}]
	});

	var chart5 = new CanvasJS.Chart("chartContainer5", {
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "대출계좌수"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}명",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}명",
			dataPoints: [
				{ y: "<%=postData.prodGroupByLoanCnt[0].cnt%>", label: "0좌" },
				{ y: "<%=postData.prodGroupByLoanCnt[1].cnt%>", label: "1좌" },
				{ y: "<%=postData.prodGroupByLoanCnt[2].cnt%>", label: "2좌" },
				{ y: "<%=postData.prodGroupByLoanCnt[3].cnt%>", label: "3좌" } ]
		}]
	});

	chart.render();
	chart1.render();
	chart2.render();
	chart3.render();
	chart4.render();
	chart5.render();
	}

function goBack(){
	window.history.back();
}
	
function goBackFirst(){
	window.history.go(-4);
}	
	
</script>

<meta charset="utf-8">
<style>
body{
    font-weight:bold;
}
</style>
</head>

<body>
    <div id = "webView" style="width:500px;">
        <div id="menubar" style="width:500px;">
            <button onClick="goBack()" class="btn" style="float:left;"><</button><span>상품추천 데이터</span><button class="btn" style="float:right;" onClick="goBackFirst()">X</button>
        </div>

        <!-- 상단 메뉴바 뒤로가기 버튼 상품페이지 및 전체항목 버튼 -->

        <div id="chartContainer" class="chartCont" style="margin-top:40px;"></div>
      
	        <div id="chartContainer1" class="chartCont"></div>
	        
	        <div id="chartContainer2" class="chartCont"></div>
	
	        <div id="chartContainer3" class="chartCont"></div>
	
	        <div id="chartContainer4" class="chartCont"></div>
	
	        <div id="chartContainer5" class="chartCont"></div>
			
    </div>        

</body>
</html>